# Visual Studio

.vs/

*.suo

*.user

*.userosscache

*.sln.docstates


# Build results

bin/

obj/

[Dd]ebug/

[Dd]ebugPublic/

[Rr]elease/

[Rr]eleases/

x64/

x86/

build/

bld/

[Bb]in/

[Oo]bj/


# Other

*.db

*.db-shm

*.db-wal

.dtbcache.v2